html.planet {
    overflow-y: hidden;
}
* {
    font-family: "Roboto Mono", monospace;
    color: white;
    font-weight: thin;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
p {
    margin: 0;
}
.bold {
    font-weight: bold;
}
body {
    margin: 0;
}


canvas {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.optionPane.mainOptions {
    overflow-y: hidden;
}
.sidebar {
    overflow: hidden;
    max-width: 400px;
    width: 33vw;
    height: calc(100vh - 87px);
    position: fixed;
    top: 87px;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
.sidebar .mainOption {
    width: 100%;
    text-align: center;
    font-size: 24px;
    min-height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.sidebar .mainOption .optionImage {
    flex-basis: 100%;

}
.optionImage img {
    max-height: 50px;
}
.mainOption:hover {
    background: rgba(255,255,255,0.1);
    cursor: pointer;
    box-shadow: 0px 0px 200px 200px inset rgba(0,0,0,0.25);
    
}
.optionPane {
    position: absolute;
    top: 0;
    right: -100%;
    overflow-y: scroll;
    width: 100%;
    transition: 200ms ease-out;
    height: 100vh;
    
    
}
.optionPane p {
    font-size: 18px;
}
.optionPane.visible {
    right: 0;
}
.control {
    padding: 15px;
    width: calc(100%-50px);
}
.controlLabel {
    padding: 15px 15px 0px 15px;
}



input[type="number"] {
    background: transparent;
    border: none;
    padding: 1em;
    border-bottom: 2px solid white;
    outline: 0;
    
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}
.colorControl input[type=number]{
    width: 2em;
    font-weight: bold;
}
.colorControl, .fileControl {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.colorControl > p {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;
}
.colorControl .colorLeft, .fileControl .fileLeft {
    grid-column: 1;
    grid-row: 2;
}
.colorControl .colorRight, .fileControl .fileRight {
    grid-column: 2;
    grid-row: 2;
    
}
.fileRight {
    height: 75px;
}
.back p {
    font-size: 24px;
    font-weight: bold;
}
.back { 
    cursor: pointer;
}
input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.fileControl label {
    display: block;
    width: calc(100% - 10px);
    background: transparent;
    border: 2px solid white;
    border-radius: 1em;
    cursor: pointer;
    text-align: center;
    padding: 25px 0;
}
.fileControl img {
    max-height: 75px;
    max-width: 100%;
}
.fileControl .fileRight {
    text-align: center;
}


    .slideContainer {
    width: calc(100% - 15px);
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: transparent;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 10em;
    border: 2px solid white;
  }
  
  .slider::-webkit-slider-thumb {
    border-radius: 10em;
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: none;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    border-radius: 10em;
    border: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
  }

  canvas {
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
body {
    background-color: black;
    background-repeat: repeat;
    background-size: 1000px;
    margin: 0;
}
.logoImg, .logoTextBox {
    display: inline-block;
}
.logo {
    padding: 1rem;
}
.logoText {
    font-weight: bold;
    font-size: 54px;
    margin: 0;
    line-height: 16px;
    
    
}
.upperText {
    line-height: 54px;
}
.subText {
    font-size: 16px;
    font-weight: 100 !important;
    margin: 0;
}
.systemsContainer {
    width: 100vw;
    margin-top: 2em;
    
}
.searchBox {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 1rem;
}
.searchBox > * {
    display: inline-block;
    font-size: 36px;
}
.searchBox input {
    background: transparent;
    font-weight: bold;
    outline: 0;
    border: none;
}
.systemsList {
    max-width: 1400px;
    width: 88%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.system,.popup .popupPlanetContainer {
    border: 1px solid white;
    min-height: 100px;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    cursor: pointer;
    transition:50ms;
    box-shadow: 0px 0px 15px transparent;
}
.system {
    padding: 0;
}
.system > .systemInfo {
    padding: 1em;
    height: 100%;
}
.system:hover,.popup .popupPlanetContainer:hover {
    box-shadow: 0px 0px 15px rgba(255,255,255,0.75);
}
.systemProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
    
}
.system .systemProfile {
    border-bottom: 1px solid white;
}
.systemProfilePicture {
    max-width: 100px;
    display: inline-block;
    border-radius: 100%;
    margin-right: 1em
}
.systemProfileName {
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
}
.systemName {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0.5em;
}
.systemName .systemPlanetCount {
    font-weight: 100;
}
.systemPlanetsBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 0.5em;
}
.planet {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: 40px;
    width: 40px;
    margin: 10px auto;
    border-radius: 100%;
    background: white;
}
.planetCount {
    text-align: right;
    margin-right: 1em;
    font-weight: bold;
}
.account, .navbar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
}

.navbar {
    width: calc(100vw - 2em);
    left: 0;
    right: unset;
    display: flex;
    justify-content: space-between
}
.account > a, .navbar a {
    display: inline-block;
    padding: 1em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px inset white;
    transition: 50ms;
}
.navbar > a {
    padding: 0em;
}
.account > a:hover, .navbar a:hover {
    box-shadow: 0px 2px inset white;
}
.logoGroup {
    display: flex;
    align-items: center;
    font-weight: bold;
}
.logoGroup img {
    height: 48px;
    margin-top: 2px;
}
.popupContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.95);
    z-index: 99999;

}
.container {
    width: 100vw;
    position: absolute;
    top: 100px;
    left: 0;
}

.container .content {
    width: 88%;
    max-width: 1200px;
    margin: auto;
}
.popupPlanets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 2em;
}
.popupPlanetContainer {
    text-align: center;
    padding: 2em 1em;
    border: 1px solid white;
    border-radius: 1em;
    margin: 0 1em 2em 1em;
}
a {
    text-decoration: none;
}
a:visited {
    color: white;
}
.popup .planet {
    width: 100px;
    height: 100px;
}
.popup .planetName {
    font-size: 24px;
    font-weight: bold;
}
.popup {
    position: relative;
    
    max-width: 1200px;
    margin: 5vh auto auto auto;
}
.popupContainer {
    overflow-y: scroll;
}
.center {
    text-align: center;
}
.closePopup {
    position: absolute;
    top: -1rem;
    right: 0;
    font-size: 54px;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem;
    
}
.closePopup p {
    color: rgba(255,255,255,0.6);
    transition: 50ms;
}
.closePopup:hover p {
    color: rgba(255,255,255,1);
}
a.button,button,input[type="submit"] {
    padding: 10px;
    border-radius: 1em;
    background: white;
    color: black;
    font-weight: bold;
    margin: 10px 10px 10px 0px;
    cursor: pointer; 
    box-shadow: 0px 0px 15px transparent;
}
a.button:hover,button:hover,input[type="submit"]:hover {
    box-shadow: 0px 0px 15px rgba(255,255,255,0.75);
}
.absoluteCenter {
    max-width: 400px;
    width: 100%;
    margin: auto;

}
.absoluteCenterContainer {
    width: 100vw;
}
