{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/article.css">
<style>
    .portfolioGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .portfolioItem img {
        width: 200px;
        margin: auto;
        display: block;
        border-radius: 100%;
        box-shadow: 0px 0px 150px 15px rgba(255,255,255,0.1);
        margin-bottom: 1em;
    }
    .portfolioItem {
        padding: 1em;
    }
</style>
<div class="container">
    <div class="content">
    <p class="article-title bold">About Stellar Skies</p>
    <p>Stellar Skies is a simple planet creator tool created in 24 hours by Drew Gifford and Jared Galyan for the University of Cincinnati's MakeUC 2020 event. Here, you can use our custom planet editor to create a collection of planets in your own star system and share your creations with friends.</p>
    <br>

    <div class="portfolioGrid">

        <div class="portfolioItem">
            <img src="/static/img/drewgifford.png">
            <p class="article-title bold">Drew Gifford</p>
            <p>Drew Gifford is an 18-year-old first-year computer engineering student at the University of Cincinnati. He has experience working on e-commerce and static websites in a professional environment.</p>
    
        </div>
        <div class="portfolioItem">
            <img src="/static/img/jaredgalyan.jpg">
            <p class="article-title bold">Jared Galyan</p>
            <p>Jared Galyan is a 19 year-old college student currently enrolled at Ivy Tech. He plans on pursuing a Computer Science degree in the future and already has 5+ years experience in back-end development.</p>
    
        </div>


    </div>
</div>


</script>
{% endblock %}
