{% extends "base.html" %}
{% block title %}Account{% endblock %}

{% block content %}
{% if email %}
<style>
    .control {
        text-align: center;
    }
    #profilePicturePreview {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        margin: auto;
        margin-bottom: 15px;
        display: block;
    }
    .fileLabel {
        cursor: pointer;
    }
    #profilePicture {
        display: none;
    }


</style>

<div class="absoluteCenterContainer">
    <div class="absoluteCenter">
        <p class="bold title center">Account</p>
        <form action="#" method="POST">

            <div class="control">
                <div>

                <input type="file" src="IMAGE" id="profilePictureImg" name="profilePictureImg" accept="image/*">
                </div>
                <div>
                    <img id="profilePicturePreview" src="{{pfp}}">
                </div>
                <label class="center fileLabel" for="profilePictureImg">Upload Image</label>
            </div>

            <label for="lem">Email</label>
            <p><input type="text" id="email" name="email" readonly value="{{email}}"/></p>
            <label for="lem">Username</label>
            <p><input type="text" id="username" name="username" value="{{username}}"/></p>
            <label for="lpas">System Name</label>
            <p><input type="text" id="system" name="system" value="{{system_name}}"/></p>

            <p><input type="text" id="profilePicture" name="profilePicture" value="IMAGE"/></p>
            <label for="lpas">Confirm Password</label>
            <p><input type="password" id="pconfirm" name="pconfirm" /></p>
            <p id="validate-status">Type in your password</p>
            {% if wrong_password == True %}
                <p class="errorMsg">Password incorrect. Try again.</p>
            {% endif %}
            <p><input id="submit" type="submit" value="Update Account"/></p>
        </form>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#submit").prop("disabled",true);
        $("#pconfirm").on("keyup", function(){
            if($("#pconfirm").val() == ""){
                $("#validate-status").html("Type in your password");
                $("#submit").prop("disabled",true);
            } else {
                $("#validate-status").html("");
                $("#submit").prop("disabled",false);
            }
        });

    });

    $("#profilePictureImg").on("change", function(){
            var input = this;
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $("#profilePicturePreview")
                        .attr('src', e.target.result);
                    $("#profilePicture").val(e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        });


</script>
{% endif %}
{% endblock %}
