<!DOCTYPE html>
<html>
    <head>
        <title>Stellar Skies - {% block title %}{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;700&display=swap" rel="stylesheet"> 
        <link href="/static/css/index.css" rel="stylesheet">
        <link href="/static/css/form.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/841ee7423a.js" crossorigin="anonymous"></script>
        <link rel="icon" href="/static/img/favicon.svg">
    </head>
    <body>
        <div class="navbar">
            <a href="/">
                <div class="logoGroup">

                    <img src="/static/img/logo.svg">
                    <p>Stellar Skies</p>
                </div>

            </a>
            <div class="accountGroup">
            <a class="profile" href=""> <!--Profile page link-->
                <p><i class="fas fa-user"></i> Toadally</p>
            </a>
    
            <a class="logIn" href="" >  <!--Log in page link-->
                <p><i class="fas fa-sign-in-alt"></i> Log In</p>
            </a>
    
            <a class="logOut" href=""> <!--Log out page link-->
                <p><i class="fas fa-sign-out-alt"></i> Sign Out</p>
            </a>
            <a class="register" href=""> <!--Register page link-->
                <p><i class="fas fa-user-check"></i> Sign Up</p>
            </a>
            <br>
            <p class="planetCount">1500 planets created</p> <!-- Total planets in system -->
            </div>
    
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        
        <div class="container">
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>

        <canvas id="space"></canvas>
        <script src="/static/js/stars.js"></script>
    </body>
</html>