<!DOCTYPE html>

<html lang="en">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;700&display=swap" rel="stylesheet"> 
    <link href="/static/css/index.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/841ee7423a.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/static/img/favicon.svg">
    <title>Stellar Skies - Home</title>

    <meta charset="UTF-8">
</html>

<body>

    <div class="logo">
        <div class="logoImg">
            <img src="/static/img/logo.svg">
        </div>
        <div class="logoTextBox">
            <p class="logoText"><span class="upperText">Stellar Skies</span><span class="subText"><br>Made by Drew Gifford and Jared Galyan for MakeUC 2020</span>
            </p>
        </div>
    </div>

    <div class="account">

            <a class="newPlanet" href="/planet"> <!--New Planet link-->
                <p><i class="far fa-plus-square"></i> New Planet</p>
            </a>
            <a class="about" href="/about"> <!--About link-->
                <p><i class="fas fa-question"></i> About</p>
            </a>
        {% if email%}
            <a class="profile" href="/account"> <!--Profile page link-->
                <p><i class="fas fa-user"></i> {{username}}</p>
            </a>
            <a class="logOut" href="/logout"> <!--Log out page link-->
                <p><i class="fas fa-sign-out-alt"></i> Sign Out</p>
            </a>
        {% else %}
            <a class="logIn" href="/login" >  <!--Log in page link-->
                <p><i class="fas fa-sign-in-alt"></i> Log In</p>
            </a>

            <a class="register" href="/signup"> <!--Register page link-->
                <p><i class="fas fa-user-check"></i> Register</p>
            </a>
        {% endif %}


    </div>


    <div class="systemsContainer">
        
        <div class="systemsList">

            <div class="searchBox">
                <p class="searchIcon"><i class="fas fa-search"></i></p>
                <input type="text" placeholder="Search">
            </div>
            {% for result in data %}
                {% if result[6] > 0 %}
                <div class="system">
                    <div class="systemInfo">
                        <div class="systemProfile">
                            <img class="systemProfilePicture" src="https://avatars0.githubusercontent.com/u/43815275?s=460&u=2753f461d6d9b4598dfbe8e7baf4125ced5e3979&v=4"> <!-- Profile picture -->
                            <p class="systemProfileName">{{result[2]}}</p> <!-- Username -->
                        </div>
                        <div class="systemPlanets">
                            <p class="systemName">{{result[4]}} <span class="systemPlanetCount">({{result[6]}})</span></p> <!-- System name, planet count -->
                            <div class="systemPlanetsBox">
                                {% for presult in pdata %}
                                    {% if presult[19] == result[5] %}
                                        <div class="planetContainer">
                                        <div class="planet" style="background-color: {{presult[7]}}; width: calc(20px + ({{presult[8]}}px / 5)); height: calc(20px + ({{presult[8]}}px / 5)); margin-top: calc(40px - ({{presult[8]}}px / 10)); margin-bottom: calc(40px - ({{presult[8]}}px / 10));"></div> <!-- Replace #ffffff with planet color -->
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="popupContainer">
                        <div class="popup">
                            <div class="closePopup">
                                <p>&times;</p>
                            </div>
                            <div class="systemProfile">
                                <img class="systemProfilePicture" src="https://avatars0.githubusercontent.com/u/43815275?s=460&u=2753f461d6d9b4598dfbe8e7baf4125ced5e3979&v=4"> <!-- Profile picture -->
                                <p class="systemProfileName">{{result[2]}}</p> <!-- Username -->
                                
                            </div>
                            <p class="systemName center">{{result[4]}} <span class="systemPlanetCount">({{result[6]}})</span></p> <!-- System name, planet count -->
                
                            <div class="popupPlanets">
                                {% for presult in pdata %}
                                    {% if presult[19] == result[5] %}
                                        <a class="popupPlanetContainer" href="/planet/{{presult[0]}}"> <!-- Planet ID in href, i.e. /planet/planetid to go to the planet-->
                                            <div class="planet" style="background-color: {{presult[7]}}; width: calc(20px + ({{presult[8]}}px / 5)); height: calc(20px + ({{presult[8]}}px / 5)); margin-top: calc(40px - ({{presult[8]}}px / 10)); margin-bottom: calc(40px - ({{presult[8]}}px / 10));"></div> <!-- Replace #ffffff with planet color -->
                                            <p class="planetName">{{presult[1]}}</p> <!-- Planet name -->
                                            <p class="planetDate">Created {{presult[4]}}</p> <!-- Planet creation date -->
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>



    </div>
    <canvas id="space"></canvas>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/static/lib/infinitecanvas/infinite-canvas.js"></script>


    <script src="/static/js/frontpage.js"></script>
    <script src="/static/js/stars.js"></script>


</body>