<!DOCTYPE html>
<html lang="en" class="planet">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;700&display=swap" rel="stylesheet"> 
    <link href="/static/css/index.css" rel="stylesheet">
    <link href="/static/css/planet.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
    <link rel="icon" href="/static/img/favicon.svg">
    <title>Stellar Skies - PLANET NAME</title> <!-- PUT PLANET NAME HERE -->
    <meta charset="UTF-8">
</head>



<body>

    <form spellcheck="false" autocomplete="off">
    <div class="textInput">
        <p>Planet Name</p>
        <p id="planetName" type="text">
        <p>Created by: Toadally</p>
        <p>Description</p>
        <p id="planetDescription" type="text"></p>

    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        var jsonObj = JSON.parse('{{ planet | tojson | safe }}')
    </script>
    <script src="/static/js/init.js"></script>
    
    <script src="https://threejs.org/build/three.min.js"></script>

    <script src="https://threejs.org/examples/js/postprocessing/EffectComposer.js"></script>
    <script src="https://threejs.org/examples/js/postprocessing/RenderPass.js"></script>
    <script src="https://threejs.org/examples/js/postprocessing/MaskPass.js"></script>
    <script src="https://threejs.org/examples/js/postprocessing/ShaderPass.js"></script>
    <script src="https://threejs.org/examples/js/shaders/CopyShader.js"></script>
    <script src="https://threejs.org/examples/js/shaders/FXAAShader.js"></script>
    <script src="https://threejs.org/examples/js/shaders/ConvolutionShader.js"></script>
    <script src="https://threejs.org/examples/js/shaders/LuminosityHighPassShader.js"></script>
    <script src="https://threejs.org/examples/js/postprocessing/UnrealBloomPass.js"></script>
    <script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>

    <script src="/static/js/index.js"></script>

    </form>
</body>
</html>